<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="one"><h1>Secure File Storage</h1></div>
    <form action="">
        <div class="two">
        <label for="">Username</label>
        <input type="text"><br>
    </div>
    <div class="three">
        <label for="">Password</label>
        <input type="password"><br>
    </div>
    <div class="four">
        <button>Login</button>
    </div>
    <div class="five">
        <p>create an account?<a href="">Signup</a></p>
    </div>
    <div class="six">
        <a href="">Forget password</a>
    </div>
    </form>
</body>
</html>